.row
  .col-xs-3
    form.form-horizontal(novalidate, role='form', name='loginForm')
      fieldset
        #legend
          legend Login
        .form-group
          label.control-label(for='email') E-mail
          .controls
            input.form-control#email(type='email', name='email', ng-model='user.email', required, autofocus)
            p.help-block Please provide your E-mail
        .form-group
          label.control-label(for='password') Password
          .controls
            input.form-control#password(type='password', name='password', ng-model='user.password', required, ng-minlength='6')
            p.help-block Password should be at least 6 characters
        .form-group
          button.btn.btn-success(ng-show='loginForm.$valid', ng-click='login()') Login
  .col-xs-9


